@font-face {
	font-family: 'geist';
	src: url(./Geist-Regular.woff2) format("woff2");
	font-display: swap;
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'geist';
	src: url(./Geist-Medium.woff2) format("woff2");
	font-display: swap;
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: 'geist';
	src: url(./Geist-SemiBold.woff2) format("woff2");
	font-display: swap;
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: 'geist';
	src: url(./Geist-Bold.woff2) format("woff2");
	font-display: swap;
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: 'geist';
	src: url(./Geist-Black.woff2) format("woff2");
	font-display: swap;
	font-weight: 800;
	font-style: normal
}
